body {background-color: #F4F1DE
 }
h1 {color: #3D405B;
    text-align: center;
    text-decoration: underline;}
  h2 {color: #3D405B;}
    h3 {color: #3D405B;} 
p {color: black;} 
p {border: 3px solid #3D405B;
   padding: 1px;
   margin: 45px;}
.topnav 
{
overflow:hidden;
background-color: transparent;     
}   
.topnav a {
float: left;
color: black;
text-align: center;
padding: 5px 35px;
text-decoration: overline;
font-size: 20px;
}

.topnav a:hover {
background-color: transparent;
color: gray;
}

.topnav a.active {
background-color: transparent;
color: gray; 
}